.out_result{
    padding-left: 30px;
}
.text_h1{
    text-align: center;
}
.education {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
}

.card {
    margin-top: 20px;
    margin-left: 20px;
    width: 220px;
    height: 321px;
    background: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}
.card img{
	padding-left: 5px

}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}


.card:hover p {
    color: var(--text-color-hover);
}

.card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 30px;
    text-align: center;
    z-index: 1000;
    transition: color 0.3s ease-out;
}
.card input{
    width: 25px;
    height: 25px;
    float: right;
    border-radius: 15px;
    outline: none;
    border: none;
    border: solid 1px #11101d;
}
